<@- include('include/_header.ejs', {
  data: {
    title: '通用管理系统',
    css: 'css/app.css'
  }
}); @>
<body class="gray-bg">
    <div id="wrapperIn" class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>标题</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项 1</a>
                                </li>
                                <li><a href="#">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h1>标题 1
                            <small>副标题</small>
                        </h1>
                        <h2>标题 2
                            <small>副标题</small>
                        </h2>
                        <h3>标题 3
                            <small>副标题</small>
                        </h3>
                        <h4>标题 4
                            <small>副标题</small>
                        </h4>
                        <h5>标题 5
                            <small>副标题</small>
                        </h5>
                        <h6>标题 6
                            <small>副标题</small>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>段落文本</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项 1</a>
                                </li>
                                <li><a href="#">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！</p>
                        <p>
                            一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！
                        </p>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>未列名单</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项 1</a>
                                </li>
                                <li><a href="#">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <ul class="unstyled">
                            <li>未列名单</li>
                            <li>未列名单</li>
                            <li>未列名单</li>
                            <li>未列名单</li>
                            <li>未列名单
                                <ul>
                                    <li>未列名单</li>
                                    <li>未列名单</li>
                                    <li>未列名单</li>
                                    <li>未列名单</li>
                                </ul>
                            </li>
                            <li>未列名单</li>
                            <li>未列名单</li>
                            <li>未列名单</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>无序列表</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项 1</a>
                                </li>
                                <li><a href="#">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <ul>
                            <li>无序列表</li>
                            <li>无序列表</li>
                            <li>无序列表</li>
                            <li>无序列表</li>
                            <li>无序列表
                                <ul>
                                    <li>无序列表</li>
                                    <li>无序列表</li>
                                    <li>无序列表</li>
                                    <li>无序列表</li>
                                </ul>
                            </li>
                            <li>无序列表</li>
                            <li>无序列表</li>
                            <li>无序列表</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>有序列表</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项 1</a>
                                </li>
                                <li><a href="#">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <ol>
                            <li>有序列表</li>
                            <li>有序列表</li>
                            <li>有序列表 </li>
                            <li>有序列表</li>
                            <li>有序列表
                                <ol>
                                    <li>有序列表</li>
                                    <li>有序列表</li>
                                    <li>有序列表</li>
                                    <li>有序列表</li>
                                </ol>
                            </li>
                            <li>有序列表</li>
                            <li>有序列表</li>
                            <li>有序列表</li>
                        </ol>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>重要类型</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">选项 1</a>
                                    </li>
                                    <li><a href="#">选项 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                                <p class="text-muted">重要类型</p>
                                <p class="text-primary">重要类型</p>
                                <p class="text-success">重要类型</p>
                                <p class="text-info">重要类型</p>
                                <p class="text-warning">重要类型</p>
                                <p class="text-danger">重要类型</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>引用文字</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">选项 1</a>
                                    </li>
                                    <li><a href="#">选项 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                                <blockquote>
                                    <p>引用文字引用文字引用文字引用文字引用文字</p>
                                </blockquote>

                        </div>
                    </div>
                </div>

            </div>
        <div class="row">

            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>对准</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项 1</a>
                                </li>
                                <li><a href="#">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p class="text-left">对准</p>
                        <p class="text-center">对准</p>
                        <p class="text-right">对准</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>地址</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项 1</a>
                                </li>
                                <li><a href="#">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <address>
                            <strong>inspinia中文</strong><br>
                            <abbr title="Phone">电话:</abbr> (86) 1234-5678
                        </address>

                        <address>
                            <strong>电子邮件</strong><br>
                            <a href="mailto:#">abc@admin.com</a>
                        </address>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>分组列表</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项 1</a>
                                </li>
                                <li><a href="#">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content no-padding">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge badge-primary">16</span>
                                分组列表
                            </li>
                            <li class="list-group-item ">
                                <span class="badge badge-info">12</span>
                                分组列表
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-danger">10</span>
                                分组列表
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-success">10</span>
                                分组列表
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning">7</span>
                                分组列表
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>分组列表</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项 1</a>
                                </li>
                                <li><a href="#">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="list-group">
                            <a class="list-group-item active" href="#">
                                <h3 class="list-group-item-heading">分组列表</h3>

                                <p class="list-group-item-text">一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！</p>
                            </a>

                            <a class="list-group-item" href="#">
                                <h3 class="list-group-item-heading">分组列表</h3>

                                <p class="list-group-item-text">一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！</p>
                            </a>

                            <a class="list-group-item" href="#">
                                <h3 class="list-group-item-heading">分组列表</h3>

                                <p class="list-group-item-text">一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>原型</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项 1</a>
                                </li>
                                <li><a href="#">选项 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                            <div class="well">
                                <h3>
                                    标题1
                                </h3>
                                一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！
                            </div>
                            <div class="well well-lg">
                                <h3>
                                    标题2
                                </h3>
                                一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！
                            </div>
                            <div class="well well-sm">
                                <h3>
                                    标题3
                                </h3>
                                一捧香土藏奇葩，孕育种子发新芽，寄托情思千万里，一年四季绘新画；一滴细雨催鲜花，雨过天晴景色佳，朵朵相思满枝桠，千丝万缕放光华；一条短信给你发，祝你开心美潇洒，生日快乐伴随你，高枕无忧爱融洽！
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

<@- include('include/_footer.ejs', { data: { main: 'modules/components/typography'}}) @>